/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Bold";
    src: url(./assets/font/Gotham-Bold.ttf);
}

@font-face {
    font-family: "Book";
    src: url(./assets/font/Gotham-Book.ttf);
}

@font-face {
    font-family: "Medium";
    src: url(./assets/font/Gotham-Book.ttf);
}

@font-face {
    font-family: "Light";
    src: url(./assets/font/Gotham-Light.ttf);
}

.bold{
    font-family: "Bold";
}

.book{
    font-family: "Book";
}

.medium{
    font-family: "Medium";
}

.light{
    font-family: "Light";
}

.back-color-green{
    background-color: #BFE231;
}
.back-color-orange{
    background-color: #F89A1C;
}
.back-color-brown{
    background-color: #3f2d20;
}
.back-color-blue{
    background-color: #55edeb;
}
.back-color-gray1{
    background-color: #414042;
}
.back-color-gray2{
    background-color: #6f6f6f;
}
.back-color-gray3{
    background-color: #bcbec0;
}
.back-color-gray4{
    background-color: #e6e7e8;
}
.back-color-gray5{
    background-color: #fbfbfb;
}
.back-color-white{
    background-color: #FFFFFF;
}

.text-color-green{
    color: #BFE231;
}
.text-color-orange{
    color: #F89A1C;
}
.text-color-brown{
    color: #3f2d20;
}
.text-color-blue{
    color: #55edeb;
}
.text-color-gray1{
    color: #414042;
}
.text-color-gray2{
    color: #6f6f6f;
}
.text-color-gray3{
    color: #bcbec0;
}
.text-color-gray4{
    color: #e6e7e8;
}
.text-color-gray5{
    color: #fbfbfb;
}
.text-color-white{
    color: #FFFFFF;
}