<section class="grid">
  <!-- Seccion de header -->
  <header class="header">
      <div class="img-container">
        <img  src="./assets/img/Headerfoto.png" alt="header">
      </div>
    </header>
    <!-- Seccion de somos -->
    <div class="somos ">
      <div class="info-somos top50">
          <h2 class="title book">quienes</h2>
          <div class="sec">
            <h1 class="title2 bold"> somos</h1>
            <p class="line"></p>
          </div>
          <div class="top30">
            <p class="medium">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </p>
            <br>
            <p class="medium">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sint placeat nulla obcaecati corporis earum rem blanditiis minus voluptatum natus 
                quibusdam eaque dolorum molestiae, 
                beatae animi? Nostrum minima saepe id ab.
                Sint placeat nulla obcaecati corporis earum rem blanditiis minus voluptatum natus 
                quibusdam eaque dolorum molestiae, 
                beatae animi? Nostrum minima saepe id ab.
            </p>
          </div>
          
    
        </div>
        <div class="img-somos top50">
          <img src="./assets/img/Quienessomosfoto.png" alt="">
        </div>
    </div>

    <!-- Seccion adicional -->
    <div class="add">
      <img src="./assets/img/Jitomatefondo.png" alt="">
    </div>


</section>
