<div>
  <!-- Header -->
  <img class="main-header" src="../../../../assets/img/foto_header.jpg" alt="">
  <!-- Naranjazo -->
  <img class="naranjazo" src="../../../../assets/img/Naranja_edit.png">

  <!-- Info -->
  <div class="central-info">
    <div class="mainInfo">
      <P class="text-color-gray2 estilo-titulos">El lugar perfecto para comer</P>
      <p style="transform: translate(0px, -23px);" class="text-color-gray1 bold estilo-titulos">de forma saludable</p>
    </div>
    <div class="central-info-detail text-color-gray2">
      <p class="info-items-central-info central-info-position-a">Quick & Fit está en búsqueda de una solución para aquellos que desean
        comer saludable, rico y economico. Pueden encontrarse bajo algún régimen 
        alimenticio complementario a su rutina física o entrenamiento.
      </p>
      <p class="info-items-central-info text-color-gray2">
        El equipo de Quick & Fit está compuesto por expertos en el mundo de la 
        nutrición y la gastronomía
      </p>
    </div>
  </div>
</div>