<div>
  <!-- Header -->
  <img class="main-header" src="../../../../assets/img/foto_header.jpg" alt="">
  <!-- Naranjazo -->
  <img class="naranjazo" src="../../../../assets/img/Naranja_edit.png">

  <!-- Info -->
  <div class="central-info">
    <div class="mainInfo">
      <P class="text-color-gray2 estilo-titulos">El lugar perfecto para comer</P>
      <p style="transform: translate(0px, -23px);" class="text-color-gray1 bold estilo-titulos">de forma saludable</p>
    </div>
    <!-- Info central 1 -->
    <div class="central-info-detail text-color-gray2">
      <p class="info-items-central-info central-info-position-a">Quick & Fit está en búsqueda de una solución para aquellos que desean
        comer saludable, rico y economico. Pueden encontrarse bajo algún régimen 
        alimenticio complementario a su rutina física o entrenamiento.
        <br><br>
        El equipo de Quick & Fit está compuesto por expertos en el mundo de la 
        nutrición y la gastronomía
      </p>
      <!-- <img class="image-a-central-info" src="../../../../assets/img/frappe.png">
      <img class="image-b-central-info" src="../../../../assets/img/naranja_completa.png"> -->
      <img class="frap_naranja_img" src="../../../../assets/img/frappe_naranja.png">
    </div>

    <!-- Info central 2 -->
    <div class="contenedor-arma-platillo">
      <!-- Titulo info central 2 -->
      <div class="titulo_arma_platillo">
        <div class="titulo_arma_platillo_texto">
            <p style="transform: translate(0px, 23px)" class="text-color-gray2 estilo-sub-titulos">ARMA TU</p>
            <p class="text-color-gray1 bold estilo-titulos">PLATILLO</p>
        </div>
        <p class="titulo_arma_platillo_borde_inferior">
        </p>
      </div>
      <div class="contenido_arma_platillo">
        <img src="../../../../assets/img/berries.png" class="imagen_arma_platillo">
        <div class="contenidos_info_arma_platillo">
          <div class="contenido_item_instruction_arma_platillo first_menu_item_arma_platillo">
            <img src="../../../../assets/img/1exploraelmenu.png" class="contenido_item_instruction_arma_platillo_imagen">
            <p class="centrado_texto contenido_item_instruccion_arma_platillo_main_text bold">EXPLORA EL MENU</p>
            <p class="contenido_item_instruccion_arma_platillo_sub_text text-color-gray2 centrado_texto">Elige de entre la gran variedad de ingredientes con los que puedes conformar tu platillo</p>
          </div>
          <div class="contenido_item_instruction_arma_platillo">
            <img src="../../../../assets/img/2nosotroslopreparamos.png" class="contenido_item_instruction_arma_platillo_imagen">
            <p class="centrado_texto contenido_item_instruccion_arma_platillo_main_text bold">NOSOTROS LO PREPARAMOS</p>
            <p class="contenido_item_instruccion_arma_platillo_sub_text text-color-gray2 centrado_texto">Dieta conformada por nutriólogos y chefs adaptada a tus necesidades especificas de alimentación</p>
          </div>
          <div class="contenido_item_instruction_arma_platillo">
            <img src="../../../../assets/img/3recogelo.png" class="contenido_item_instruction_arma_platillo_imagen">
            <P class="centrado_texto contenido_item_instruccion_arma_platillo_main_text bold">RECOGELO Ó TE LO ENVIAMOS</P>
            <p class="contenido_item_instruccion_arma_platillo_sub_text text-color-gray2 centrado_texto">Puedes pasar a recoger tu platillo a una sucursal o te lo enviamos a domicilio</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Info final, Realiza tu platillo -->
    <div class="contenedor_realiza_platillo">
      <img class="fondo_contenedor_realiza_platillo" src="../../../../assets/img/fondo_realiza_tu_pedido.png">
      <div class="titulo_realiza_platillo_container">
        <div class="titulo_realiza_platillo_texto">
          <p style="transform: translate(-10px, 23px)" class="text-color-gray5 estilo-sub-titulos ">REALIZA</p>
          <p class="text-color-gray5 bold estilo-titulos ">PLATILLO</p>
        </div>
        <p class="titulo_realiza_platillo_borde_inf">        
      </div>
      <div class="contenedor_interno_realiza_platillo">
        <div class="formulario_container_realiza_platillo">
          <p class="texto_principal_formulario_realiza_platillo text-color-gray5 bold first_item_form_realiza_platillo">$ 65.00 MXN</p>
          <p class="texto_principal_formulario_realiza_platillo text-color-gray5 bold">ENSALADA DE LA CASA</p>
          <p class="texto_secundario_formulario_realiza_platillo text-color-gray4">Pan integral de centeno, huevo cocido, aguacate y semillas. Bañado de una vinagreta y aceite de oliva.</p>
          <div class="contenedor_botones">
            <div class="boton_base boton_relleno bold">ORDENAR</div>
            <div class="boton_base bold boton_vacio">VER EL MENÚ</div>
          </div>
        </div>
        <img class="imagen_contenedor_realiza_platillo" src="../../../../assets/img/plato_realiza_tu_platillo.png">
      </div>
    </div>
  </div>
</div>