<div class="footer">
  <p class="medium" >
    Copyright &copy; Quick & Fit 2018. Todos los derechos reservados 
  </p>
  <div class="redes">
    <div class="redes-item">
      <img src="./assets/img/youtube.svg" alt="">
    </div>
    <div class="redes-item">
      <img src="./assets/img/insta.svg" alt="">
    </div>
    <div class="redes-item">
      <img src="./assets/img/face.svg" alt="">
    </div>
  </div>
  <div class="medium">
    Términos y condiciones | Políticas de privacidad
  </div>
</div>