<header class="header">
  <!-- Imagen del header -->
  <div class="header-img">
    <img src="./assets/img/zanahorias.png" alt="">
  </div>
  <div class="header-info">
    <div class="line"></div>
    <div class="content">
      <p class="bold">Washignton Street #456</p>
      <p class="bold">T. 33 44 55 66 77</p>
      <p class="bold">Guadalajara, Jalisco</p>
    </div>
  </div>
</header>
<section class="form">
  <div class="button-container">
    <a (click)="tipoCliente(1)" [ngClass]="clientBtn" class="button bold"> soy persona </a>
    <a (click)="tipoCliente(2)" [ngClass]="busBtn" class="button bold"> soy empresa </a>
  </div>
  <br><br>
  <div  class="contact-form">
    <div class="input-field ">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Nombre</label>
      </div>
      <div class="input-field ">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Ocupación</label>
      </div>
      <div class="section-two">
        <div class="short">
          <div class="input-field ">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Teléfono</label>
          </div>
        </div>
        <div class="short">
          <div class="input-field ">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Correo electrónico</label>
            </div>
        </div>
      </div>
      <!-- Select Empresa -->
      <select class="medium" *ngIf="!isClient" class="browser-default">
        <option value="" disabled selected>Asunto</option>
        <option value="1">Me gustaría ser proveedor de carne</option>
        <option value="2">Me gustaría ser proveedor de pollo</option>
        <option value="3">Me gustaría ser proveedor de pescado</option>
        <option value="4">Me gustaría ser proveedor de fruta y verdura</option>
        <option value="5">Me gustaría hacer una alianza</option>
        <option value="6">Otro</option>
      </select>
      <!-- Select Persona -->
      <select class="medium" *ngIf="isClient" class="browser-default">
        <option value="" disabled selected>Asunto</option>
        <option value="1">Tengo una queja</option>
        <option value="2">Tengo una sugerencia</option>
        <option value="3">Me interesa una franquicia</option>
        <option value="4">Me gustaría ser proveedor de mostrador</option>
        <option value="5">Otro</option>
      </select>

      <div class="input-field">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Textarea</label>
      </div>

      <div class="send-container">
          <a class="button send bold"> Enviar </a>
        </div>
      
  </div>

  

</section>