<header class="header">
  <!-- Imagen del header -->
  <div class="header-img">
    <img src="./assets/img/zanahorias.png" alt="">
  </div>
  <div class="header-info">
    <div class="line"></div>
    <div class="content">
      <p class="bold">Washignton Street #456</p>
      <p class="bold">T. 33 44 55 66 77</p>
      <p class="bold">Guadalajara, Jalisco</p>
    </div>
  </div>
</header>
<section class="form">
  <div class="button-container">
    <a href="" class="button active bold"> soy persona </a>
    <a href="" class="button bold"> soy empresa </a>
  </div>
</section>